<!-- Navbar and Header -->

    <div class="container-fluid header">
        <div class="row access">
            <div class="col-md-12 menu">
                <nav class="navbar navbar-expand-md navbar-bg navbar-dark navbar-dark">
                    <a class="navbar-brand"><img src="assets/images/logo/Layer 2@1X.png" width="100%" height="auto"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link home" href="#"><img src="assets/images/Icon feather-home@1X.png"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Job Roles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-md-6 header-left">
                <h2>Welcome On Board..</h2>
                <h1>Let's Drive To The
                    Desired Destination!!</h1>
                <p>Do you feel your education qualification is not quite enough for the job<br> you desire? Do you feel
                    that you lack the skills necessary for a career<br> change? Register with job bank and take the big
                    leap to land your dream job.</p>
            </div>
            <div class="col-md-6 header-right">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row register">
            <div class="col-md-4 fresher">
                <h5>Are you a</h5>
                <h3>Fresher?</h3>
                <p>Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry.</p>
                <button type="button" data-aos="zoom-out-down" class="btn btn-outline-dark">Register</button>
            </div>
            <div class="col-md-4 upgrade">
                <h5>Are you looking for a</h5>
                <h3>Job Updrade?</h3>
                <p>Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry.</p>
                <button type="button" data-aos="zoom-out-down" class="btn btn-outline-dark">Register</button>
            </div>
            <div class="col-md-4 employer">
                <h5>Are you an</h5>
                <h3>Employer?</h3>
                <p>Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry.</p>
                <button type="button" data-aos="zoom-out-down" class="btn btn-outline-dark">Register</button>
            </div>
        </div>
    </div>

    <!-- Section(records) -->

    <div class="container-fluid records-container">
        <div class="row">
            <div class="col-4 col-sm-4 col-md-4 ">
                <div class="row records">
                    <div class="records-bg"><img src="assets/images/Group 850@1X.png"></div>
                    <div class="records-count">
                        <h3>500 +</h3>
                        <p>Freshers</p>
                    </div>
                </div>
            </div>
            <div class="col-4 col-sm-4 col-md-4">
                <div class="row records">
                    <div class="records-bg"><img src="assets/images/Group 850@1X.png"></div>
                    <div class="records-count">
                        <h3>458 +</h3>
                        <p>Experienced</p>
                    </div>
                </div>
            </div>
            <div class="col-4 col-sm-4 col-md-4">
                <div class="row records ">
                    <div class="records-bg"><img src="assets/images/Group 852@1X.png"></div>
                    <div class="records-count">
                        <h3>394 +</h3>
                        <p>Employers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section Top Job Roles -->

    <div class="container-fluid job-roles-container">
        <div class="row job-roles-head">
            <h5>Top Job Roles</h5>
        </div>
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-5">
            <div class="col">

                <div class="row job-roles ">
                    <div class="jobRoles-bg"><img src="assets/images/Path 266@1X.png"></div>
                </div>
                <p>Accountant</p>
            </div>
            <div class="col">
                <div class="row job-roles ">
                    <div class="jobRoles-bg"><img src="assets/images/Path 696@1X.png"></div>
                </div>
                <p>Bpo customer care</p>
            </div>
            <div class="col">
                <div class="row job-roles ">
                    <div class="jobRoles-bg"><img src="assets/images/Path 697@1X.png"></div>
                </div>
                <p>Data entry/Back office</p>
            </div>
            <div class="col">
                <div class="row job-roles ">
                    <div class="jobRoles-bg"><img src="assets/images/Path 702@1X.png"></div>
                </div>
                <p>Sales/Marketing</p>
            </div>
            <div class="col">
                <div class="row job-roles ">
                    <div class="jobRoles-bg"><img src="assets/images/reception@1X.png"></div>
                </div>
                <p>Receptionist/Front office</p>
            </div>
            <div class="col">
                <div class="row job-roles ">
                    <div class="jobRoles-bg"><img src="assets/images/Path 703@1X.png"></div>
                </div>
                <p>Hospitality executives</p>
            </div>
            <div class="col">
                <div class="row job-roles ">
                    <div class="jobRoles-bg"><img src="assets/images/Path 707@1X.png"></div>
                </div>
                <p>Delivery</p>
            </div>
            <div class="col">
                <div class="row job-roles ">
                    <div class="jobRoles-bg"><img src="assets/images/Path 711@1X.png"></div>
                </div>
                <p>Cook/Chef</p>
            </div>
            <div class="col">
                <div class="row job-roles ">
                    <div class="jobRoles-bg"><img src="assets/images/Path 713@1X.png"></div>
                </div>
                <p>Beauticians/Spa</p>
            </div>
            <div class="col">
                <div class="row job-roles ">
                    <div class="jobRoles-bg"><img src="assets/images/steering-wheel@1X.png"></div>
                </div>
                <p>Driver</p>
            </div>
        </div>
        <div class="col text-center">
            <button type="button" data-aos="fade-up" class="btn btn-outline-secondary">View All Roles</button>
        </div>
    </div>

    <!-- Section Assets -->

    <div class="container-fluid asset-container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/Asset 3@1X.png" width="100%" height="auto">
            </div>
            <div class="col-md-6">
                <p>Welcome On Board...</p>
                <h3>Let's Drive To The Desired <br>
                    Destination!!</h3>
                <p>As a Job seeker, do you feel your educational qualification is not sufficient for the job you desire?
                    <br> The process is simple! Whether you are looking for a job or a career <br> change, whatever be
                    your educational qualification, step into The Job Bank.</p>
                <button type="button" data-aos="fade-up" class="btn btn-outline-secondary">Read More</button>
            </div>
        </div>
    </div>

    <!-- Section Major Services -->

    <div class="container-fluid majorServices-container">
        <div class="row text-center">
            <h2 class="major-service">Major Service</h2>
        </div>

        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 add-services-row" id="major">
            <div class="col serviceDiv" *ngFor = "let details of imageDetails">
                <div class="services">
                    <div class="service-content">
                        <img src='{{details.image}}'>
                        <h5>{{details.title}}</h5>
                        <p>{{details.description}}</p>
                    </div>
                    <div class="btn-bg">
                        <img id="arrow" src="./assets/images/Icon feather-arrow-right@1X.png">
                    </div>
                </div>
            </div>
        </div>

        <!-- Modals -->

        <div class="modal fade"  id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true" validate>
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title" id="exampleModalLabel">Add image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" [formGroup]="form" (ngSubmit)="submitForm()" action="" name="imageForm" enctype="multipart/form-data" id="imageForm">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" class="form-control"  formControlName="title" id="title"
                                    aria-describedby="title-area" placeholder="Enter Title" [ngClass]="{'is-invalid': submitted && formValid.title}" required />
                                    <div *ngIf="submitted && form.controls.title.errors" class="is-invalid">
                                        <div *ngIf="form.controls.title.errors.required">title is required</div>
                                      </div>
                            </div>
                            <div class="form-group">
                                <label for="description">description</label>
                                <input type="text" class="form-control" formControlName="description" id="description"
                                    placeholder="description" [ngClass]="{'is-invalid' : submitted && formValid.description}" required />
                                <div *ngIf="submitted && form.controls.description.errors" class="is-invalid">
                                <div *ngIf="form.controls.description.errors.required">description is required.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="image">Image</label>
                                <input type="file" class="form-control" (change)="uploadFile($event)" [ngClass]="{'is-invalid' : submitted && formValid.imageUp}" accept=".svg" formControlName="imageUp" id="imageUp" placeholder="Image"
                                    required />
                                <div *ngIf="submitted && form.controls.imageUp.errors">
                                <div *ngIf="form.controls.imageUp.errors.required">please select the file must be in .svg format.</div>
                                </div>
                            </div>
                            <div class="modal-footer border-top-0 d-flex justify-content-center">
                                <button type="submit" id="form-submit" class="btn btn-success">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title" id="exampleModalLabel">Add image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="successMessage">Updated successfully</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <button type="button" id="add-serv" data-aos="fade-up" (click)="show()" class="btn btn-outline-secondary add-serv">Add Service</button>
        </div>
    </div>

    <!-- Footer -->

    <div class="container-fluid">
        <div class="row global">
            <p>We are determined to be a Global Job Player by aligning our growth to the needs of industry and job-ready
                work force. We put the Jobless to Work.</p>
            <img src="assets/images/global.svg" class="globalImage" width="auto" height="auto">
        </div>
    </div>
    <footer>
        <div class="container-fluid">
            <div class="row footer">
                <div class="col-6 col-sm-6 col-md-5">
                    <img src="assets/images/Layer 1@1X.png" width="75%" height="auto">
                    <address>33/725 A,Rak Towers,
                        Near Mother Opticals,
                        NH 544 - Aluva <br> Road,
                        Edapally Kochi-682024</address>
                    <p><i class="contact-img"><img src="assets/images/Ellipse 6@1X.png"><img
                                src="assets/images/Icon material-mail-outline@1X.png"
                                class="contact-icon"></i>info@thejobbank.in</p>
                    <p><i class="contact-img"><img src="assets/images/Ellipse 6@1X.png"><img
                                src="assets/images/Icon ionic-md-call@1X.png" class="contact-icon"></i>0484-4069222</p>
                    <p><i class="contact-img"><img src="assets/images/Ellipse 6@1X.png"><img
                                src="assets/images/Icon ionic-md-call@1X.png" class="contact-icon"></i>www.thejobbank.in</p>

                </div>
                <div class="col-6 col-sm-6 col-md-3">
                    <ul>
                        <li><b>Useful Links</b></li>
                        <li><i><img src="assets/images/Icon ionic-ios-arrow-dropright@1X.png"></i>Home</li>
                        <li><i><img src="assets/images/Icon ionic-ios-arrow-dropright@1X.png"></i>Services</li>
                        <li><i><img src="assets/images/Icon ionic-ios-arrow-dropright@1X.png"></i>Job Roles</li>
                        <li><i><img src="assets/images/Icon ionic-ios-arrow-dropright@1X.png"></i>About Us</li>
                        <li><i><img src="assets/images/Icon ionic-ios-arrow-dropright@1X.png"></i>Contact Us</li>
                    </ul>
                </div>

                <div class="col-md-3 mr-group">
                    <div class="row">

                        <div class="col-md-12">
                            <img src="assets/images/footer_image.svg" class="center" width="100%" height="auto">
                        </div>
                        <div class="row row-cols-4 row-cols-sm-4 row-cols-md-4 social">
                            <div class="col">
                                <img src="assets/images/Group 728@1X.png" width="100%" height="auto">
                            </div>
                            <div class="col">
                                <img src="assets/images/Group 727@1X.png" width="100%" height="auto">
                            </div>
                            <div class="col">
                                <img src="assets/images/Group 729@1X.png" width="100%" height="auto">
                            </div>
                            <div class="col">
                                <img src="assets/images/Group 730@1X.png" width="100%" height="auto">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Copyright -->

                <div class="col-md-12 copyright">
                    <p>© Copyright 2019 The Job Bank</p>
                </div>
            </div>
        </div>
    </footer>